<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>CourSuggest</title>
    <link rel="stylesheet"  href="css/bootstrap.css" media="screen" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        .bs-example{
            margin: 20px;
        }
        hr{
            margin: 60px 0;
        }

    </style>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="application/javascript">

    function CallNewWindow(a)
    {

        window.open(a);
    }
    
    
    function sendEmail(courseId)
    {
    	
    	
    	var url = '/sendEmail';
    	
    	
        
        if (courseId != '') {
            url = url + '/' +courseId;
        }
        
      
        
        $.ajax({
            type: "POST",
              url: url,

                    data: courseId,

                    contentType: "text/html",

                    success: alert("Email Sent"),


                });
       
    }
    
    
</script>



<body background="http://www.solidbackgrounds.com/images/1280x1024/1280x1024-light-blue-solid-color-background.jpg">

<div class="bs-example" align ="center">
<h3>Below are the course recommendations for the selected skill:</h3>
<br/>
</div>
<div align="center">
    <table class="table table-bordered" style="width: 49%; margin-left: 20px">
    <thead>
    <tr>
        <th>Skill Selected</th>
        <th>Course Name</th>
        <th>Course ShortName</th>
        <th>Course Description</th>
        <th>Course Url</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${stackOverFlowOutPut.courses}">
        <td><p th:text=" ${stackOverFlowOutPut.getSkill()}"> </p></td>

        <td>  <li class="list-group-item"  th:text="${list.getName()}"  th:value="${list.getName()}" >  </li></td>

        <td>  <li class="list-group-item"  th:text="${list.getShortName()}"  th:value="${list.getShortName()}" ></li></td>

        <td>  <li class="list-group-item"  th:text="${list.getShortdescription()}"  th:value="${list.getShortdescription()}" ></li></td>

        <td> 

        <input type="button"  value="Access_Course" th:onclick="'javascript:CallNewWindow(\'' + ${list.getUrl()} + '\');'" />
  
        </td>
        
        <td>
        <input type="button"  value="Send_Mail" th:onclick="'javascript:sendEmail(\'' + ${list.getId()} + '\');'" />
        </td>



    </tr>

    </tbody>
</table>
</div>
</body>
</html>